/* Begin NavBar*/
            @import url("https://fonts.googleapis.com/css?family=Dosis:400,700");
            .mainpage { /* Changes the main page of site */
                font-family: "Dosis";
            }
            :root{
                --blue: rgb(67,101,148); /* Main Blue*/
                --blue2: rgb(37,109,190); /* Blue at the bottom */
                --blue3: rgb(104,135,185); /* Blue at bottom right corner */
                --blue4: rgb(82,133,226); /*Blue at top right corner */
                --blue5: rgb(62, 121, 153); /* Blue green near bottom right */
                --blue6: rgb(55,131,187); /* Blue green top of bottom right */
                --blue7: rgb(147, 174, 217); /* Big blue circle near center */
                --black: rgb(0,0,0); 
                --lightgrey: rgb(230,234,239);
                --white: rgb(255, 255, 255);
            }
            #noscroll{
                overflow-x:hidden;
                  overflow-y:hidden;  
            } 
            #site-navigation{ /* Changes the top bar */
                display: flex;
                align-items: center;
                justify-content: space-between; 
                padding: 5px; /* Changes width of box */
                background-color: var(--lightgrey);
                color: var(--black);
            }
            .nav-links a{
                color: var(--black);
            }
            .nav-links {
                font-weight:700;
            }
            #logo{
                float:left;
                margin:0 0 0 0;
                cursor:pointer;
                letter-spacing: 0.8px;
                font-size: 32px;
                line-height: 28px;
                font-weight: 300;
            }
            #logo a{
                text-decoration: none;
            }
            #logo a:visited{
                color:black;
            }
            #logo a:link {
                color:black;
            }
            #fancy-log{
                color: var(--blue);
                font-size: 32px;
                position:relative; right: 6.5px;
                font-weight: 600;
            }
            .menu {
                display:flex;
                gap: 1em;
                font-size: 18px;
            }
            .menu li:hover {
                border-radius: 5px;
                transition: 0.3s ease;
            }
            .menu li {
                padding: 5px 14px;
            }
            input[type=checkbox]{
                display: none;
            }
            .hamburger {
                display: none;
                font-size: 24px;
                user-select: none;
            }
            input[type=checkbox]:checked ~ .menu{
                display: block;
            }
            .menu{ /*Governs the 4 blocks in the navbar*/
                list-style:none;
                color: var(--blue);
            }
            .menu a{
                text-decoration: none; /* Removes the Underline from links */
                color: var(--blue);
                font-size: 20px;
            }
            .menu a:link{
                text-decoration: none; /* Removes the Underline from links */
                color: var(--blue);
            }
            .menu a:hover{
                color:var(--blue);
            }
            .dropdown {
            background-color: rgb(1, 139, 139);
            padding: 1em 0;
            position: absolute; /*WITH RESPECT TO PARENT*/
            display: none;
            border-radius: 8px;
            top: 35px;
            }
            .dropdown li + li {
            margin-top: 10px;
            }
            .dropdown li {
            padding: 0.5em 1em;
            width: 8em;
            text-align: center;
            }
            .dropdown li:hover {
            background-color: #4c9e9e;
            }
            .services:hover .dropdown {
            display: block;
            }
            #Intro-Content {
                font-size: 25px;
                transform:translate(520px, -3600px);
            }
            #Intro-Content a{
            color: var(--blue);
            }
            #Intro-Content a:link{
            color: var(--blue);   
            }
            #Intro-Content a:hover{
            color:var(--blue);    
            }
            #canvas {
                /* border: 1px solid #999; */
                display: block;
                background-color:antiquewhite;
                width: 100%;
                height: 500px;
            }
            #bigcircle{
                width: 360px;
                height: 360px;
                background-color: var(--blue);
                border-radius: 0 0 360px 0;
                -moz-border-radius: 0 0 360px 0;
                -webkit-border-radius: 0 0 360px 0;
                transform:translate(360px, 75px) rotate(-45deg);
                overflow-y:hidden;
            }
            #left-rectangle{
                width:540px;
                height:510.25px;
                background-color:var(--blue);
                transform:translate(0px,-360px);
                overflow-y:hidden;
            }
            .white-rectangle{
                text-align:center;
                background-color:var(--white);
                width:320px;
                height: 80px;
                line-height: 60px;
                color: var(--black);
                margin: 20px auto;
                position: relative;
                transform:translate(-520px, -540px);
                overflow-y:hidden;
            }
            #bottom-blue{
                width: 260px;
                height: 260px;
                background-color: var(--blue2);
                border-radius: 0 0 260px 0;
                -moz-border-radius: 0 0 260px 0;
                -webkit-border-radius: 0 0 260px 0;
                transform:translate(720px, -610px) rotate(-135deg);
                overflow-y:hidden;
            }
            .white-rectangle2{ /*Bottom rectangle ; move to bottom when done */
                background-color:var(--white);
                width:1600px;
                height: 200px;
                line-height: 60px;
                color: var(--lightgrey);
                position: relative;
                transform:translate(0px, -3452px);
                overflow-y:hidden;
            }
            #bc-blue{ /*First quarter circle bottom right */
                width: 120px;
                height: 120px;
                background-color: var(--blue3);
                border-radius: 0 0 120px 0;
                -moz-border-radius: 0 0 120px 0;
                -webkit-border-radius: 0 0 120px 0;
                transform:translate(1400px, -880px) rotate(-168deg);
                overflow-y:hidden;
            }
            #bc-blue2{ /*Second quartercircle bottom right */
                width: 120px;
                height: 120px;
                background-color: var(--blue3);
                border-radius: 0 0 120px 0;
                -moz-border-radius: 0 0 120px 0;
                -webkit-border-radius: 0 0 120px 0;
                transform:translate(1383px, -890px) rotate(96deg);
                overflow-y:hidden;
            }
            #bc-blue3{ /*Rectangle at bottom right */
                width:50px;
                height:150px;
                background-color:var(--blue3);
                transform:translate(1480px,-1050px);
                overflow-y:hidden;
            }
            #tc-blue{ /*First quartercircle at top right */
                width: 175px;
                height: 175px;
                background-color: var(--blue4);
                border-radius: 0 0 175px 0;
                -moz-border-radius: 0 0 175px 0;
                -webkit-border-radius: 0 0 175px 0;
                transform:translate(1203px, -1615px) rotate(110deg);
                overflow-y:hidden;
            }
            #tc-blue2{ /*Second quartercircle at top right */
                width: 175px;
                height: 175px;
                background-color: var(--blue4);
                border-radius: 0 0 175px 0;
                -moz-border-radius: 0 0 175px 0;
                -webkit-border-radius: 0 0 175px 0;
                transform:translate(1363px, -1732.2px) rotate(20deg);
                overflow-y:hidden;
            }
            #tc-blue3{ /* First rectangle top right */
                width:150px;
                height:50px;
                background-color:var(--blue4);
                transform:translate(1238px,-1990px);
                overflow-y:hidden;
            }
            #tc-blue4{ /* Second rectangle top right */
                width:200px;
                height:150px;
                background-color:var(--blue4);
                transform:translate(1318px,-2040px);
                overflow-y:hidden;
            }
            #c-blue5{ /* Blue Green Circle near Bottom Right */
                width: 52px;
                height: 52px;
                background-color:var(--blue5);
                border-radius:50%;
                transform:translate(1318px,-1780px);
            }
            #c-blue6{ /* Top blue green circle near bottom right */
                width: 77px;
                height: 77px;
                background-color:var(--blue6);
                border-radius:50%;
                transform:translate(1358px,-1920px);
            }
            #c-blue7{ /* Little blue */
                width: 23px;
                height: 23px;
                background-color:var(--blue);
                border-radius:50%;
                transform:translate(1478px, -2050px);
            }
            #c-blue8{ /* Lightblue circle in center */
                width: 180px;
                height: 180px;
                background-color:var(--blue7);
                border-radius:50%;
                transform:translate(1020px, -2050px);
            }
            #c-blue9{ /*Topcorner blue circle near bottom */
                width: 80px;
                height: 80px;
                background-color:var(--blue4);
                border-radius:50%;
                transform:translate(640px, -2150px);
            }
            #c-blue10{
                width: 190px;
                height: 190px;
                background-color:var(--blue6);
                border-radius:50%;
                transform:translate(740px, -2450px);
            }
            #c-blue11{
                width: 70px;
                height: 70px;
                background-color:var(--blue4);
                border-radius:50%;
                transform:translate(700px, -2750px);
            }
            #c-blue12{
                width: 70px;
                height: 70px;
                background-color:var(--blue2);
                border-radius:50%;
                transform:translate(1050px, -2680px);
            }
            #c-blue13{
                width:30px;
                height:30px;
                background-color:var(--blue);
                border-radius: 50%;
                transform:translate(1050px,-2880px);
            }
            .siderectangle{
                width:150px;
                height:1000px;
                background-color:var(--white);
                transform:translate(1502px, -2962px);
            }
